* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(112, 193, 250);
}

header {
  text-align: left;
  color: rgb(0, 139, 239);
  padding: .1%;
  padding-left: 4%;
  font-size: 60px;
  background-color: rgb(0, 0, 78);
}

#VisualizingNav {
  display: flex;
  justify-content: center;
  padding: .1% 0%;
  background-color: rgb(0, 0, 78);
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

#VisualizingNav > li {
  margin: .9% 3%;
  margin-top: 0%;
}

li {
  list-style: none;
}

#color_icon_sign {
  display: flex;
  justify-content: center;
}

#color_icon_sign > li {
  margin: .9% 3%;
}

#Algorithm, #selectMaze {
  color: rgb(128, 0, 0);
}

.grid-container {
  display: flex;
  flex-direction: column;
  padding: 1% 1%;
  margin: 1%;
  justify-content: center;
  overflow: hidden;
  height: 650px;
  width: 1050px;
  white-space: nowrap;
}

#table_header {
  display: grid;
  grid-template-rows: auto;
}

#table_label {
  font-size: 30px;
  align-self: flex-end;
}

#Notes {
  align-self: flex-end;
}

.cell {
  background-color: white;
  width: 35px;
  height: 35px;
}

.currentCell {
  background-color: purple;
}

.startNode, #startNode {
  background-color: rgb(255, 82, 82);
}

.shortestpath {
  background-color: rgb(255, 174, 0);
}

.block {
  background-color: rgba(14, 17, 109, 0.849);
}

#VisualizingNav {
  display: flex;
}

#clearBoard, #selectedAlgo, #ST {
  padding: 11px 11px;
  background-color: rgb(136, 209, 255);
  color: rgb(172, 4, 4);
  font-size: 22px;
  text-align: center;
}

select {
  padding: 11px 11px;
  font-size: 22px;
  background-color: rgb(136, 209, 255);
}

.startNode {
  background-color: rgb(255, 82, 82);
}

.targetNode {
  background-color: rgb(255, 25, 0);
}