* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(112, 193, 250);
}

header {
  text-align: left;
  color: rgb(72, 83, 91);
  padding: 2%;
  padding-left:  4%;
  font-size: 60px;
}

.grid-container {
  display: flex;
  padding: 1% 1%;
  margin: 1%;
  /* border: 0.5px solid rgb(9, 255, 0); */
  justify-content: center;
  overflow: hidden;
}

#board {
  width: 1000px;
  height: 500px;
}


.cell,.cellRow {
  border: .1px solid rgb(0, 255, 195);
  background-color: white;
  width: 35px;
  height: 35px;
}

.currentCell {
  background-color: purple;
}

.startNode,#startNode {
  background-color: rgb(255, 82, 82);
}

.targetNode,#targetNode {
  background-color: rgb(255, 25, 0);
}

.shortestpath {
  background-color: rgb(255, 174, 0);
}

.block {
  background-color: rgba(14, 17, 109, 0.849);
}

#VisualizingNav {
  display: flex;
}